{% extends "layout.html" %}

{% block nav %}
    {% include 'heading.html' %}
{% endblock %}

{% block content %}
    <a class="btn btn-success" href={{ url_for("menu_item.create", restaurant_id=restaurant.id) }}>Add Menu Item</a>
    <h1>{{ restaurant.name }} Menu</h1>
    {% for item in restaurant.menu_items %}
        <h4>{{ item.name }}</h4>
        <div>{{ item.desc }}</div>
        <div>{{ item.price }}</div>
        <a class="btn btn-primary" href={{ url_for("menu_item.update", restaurant_id=restaurant.id, menu_item_id=item.id) }}>Edit</a>
        <a class="btn btn-danger" href="{{ url_for("menu_item.delete", restaurant_id=restaurant.id, menu_item_id=item.id) }}">Delete</a>

    {% endfor %}


{% endblock %}